{
  "rules": {
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "quotes": [
      2,
      "single"
    ],
    "linebreak-style": [
      2,
      "unix"
    ],
    "semi": [
      2,
      "always"
    ],
    "space-before-function-paren": [
      2,
      "never"
    ]
  },
  "env": {
    "node": true,
    "mocha": true
  },
  "extends": "eslint:recommended"
}
